.div {
    margin: 0px;
    box-sizing: border-box;
}

.white-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.down {
    margin-top: 50px;
}

.left-line {
    border-left : 1px solid #eee
}

.margin-left {
    margin-left: 20px;
    margin-top: 20px;
}

.col-padding {
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.pill {
    display: inline-block;
	border: 1px solid lightgray;
	border-radius: 100px;
	padding: 3px 12px 5px 12px;
	margin-right: 2px;
	margin-bottom: 5px;
}